[Unit]
Description=flanneld overlay address etcd agent
After=network.target
Before=docker.service
 
[Service]
Type=notify
EnvironmentFile=-/etc/flannel/flanneld
EnvironmentFile=-/etc/flannel/docker-network
ExecStart=/usr/bin/flanneld -etcd-endpoints=${FLANNEL_ETCD} -etcd-prefix=${FLANNEL_ETCD_KEY} -ip-masq=${FLANNEL_IP_MASQ} --iface=${FLANNEL_IFACE} -etcd-cafile=${FLANNEL_ETCD_CAFILE} --etcd-certfile=${FLANNEL_ETCD_CERTFILE} -etcd-keyfile=${FLANNEL_ETCD_KEYFILE}
 
[Install]
RequiredBy=docker.service
WantedBy=multi-user.target
